html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* site.css */

/* Style for form labels */
.control-label {
  font-weight: bold;
}

/* Style for checkboxes */
.checkbox {
  margin-bottom: 10px; /* Adjust as needed */
}

/* Style for form controls */
.form-control {
  width: 100%; /* Make the input fields full width */
}

/* Optional: Style for buttons */
.btn-primary {
  background-color: #007bff; /* Bootstrap primary button color */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9; /* Darker shade on hover */
  border-color: #0062cc;
}
